@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.slideUp{
  height: 60px;
  transition: height 0.3s ease-out;
  overflow: hidden;
}
.itm:hover .slideUp{
  height: 106px;
}


.itmImage {
  transform: scaleY(.8);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
}

.itm:hover .itmImage {
  transform: scaleY(.7);
}
